<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/blog_app.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Arapey|Cardo|Indie+Flower|Open+Sans+Condensed:300|Oswald|Playfair+Display+SC|Poiret+One|Sedgwick+Ave+Display" rel="stylesheet">
  <title>Blog_App</title>
  <meta charset="utf-8" />
</head>

<body>

  <div class="ui fixed inverted menu">
    <div class="container">
      <div class="header item"><i class="diamond icon"></i>Blog Site</div>
      <a href="/" class="item"><i class="home icon"></i>Home</a>
      <a href="/blogs/new" class="item"><i class="paint brush icon"></i>New Blog</a>
    </div>
  </div>

</body>

</html>